# Ruleset patterns
# patterns = ..., ...
# excludes = ..., ...
# exact = yes|no (exact match / not regex)
# sensitive = yes|no (insensitive regex by default -- this turns it off)

[backdoormail1]
patterns = '$q = preg_match_all($expr,$email_text,$ARRAY);',
exact = yes

[backdoormail2]
patterns = 'function send_mail($to_email,$subject,$letter,$from_email,$reply_to)',
exact = yes

[blogjplivedoor1]
patterns = 'www\.bbethic\.fr',

[blogjplivedoor2]
patterns = 'blog\.livedoor\.jp',

[filesman1]
patterns = 'filesman',
excludes = 'setSaveFilesManualExport',

[fwritefclose1]
patterns = 'fwrite', 'fclose', 'exit\(\)', 'isset.._REQUEST', 'echo', '= ._REQUEST',
excludes = 'textFile', "'ereg', 'ereg_replace'", 'wpCloneSafePathMode', 'fopen, fclose, fread, fwrite, fseek, ftell, feof, fflush',
sensitive = yes

[replace-hex1]
patterns = 'preg_replace', 'str_replace', '\\x',
excludes = 'FOUND_ROWS', '.str = preg_',
sensitive = yes

[eval-base641]
patterns = 'eval', 'base64_decode',
excludes = 'ec2:output', 'lx1o\..xol1\..oxl1\..lox1\..ox1l', 'ddDNCsIwDMDxu08Rdtmp7V23gQhD8AE81y5bi7MdTbHOp7dzQ|KGhgrSa6C00cJK6zO5mIyRMLkoxq8X0MrBbe|ipWhnXonIRYgCQOIBQYkhs5uzslZTe6is9s0', 'xTtLxQKGTNklFTkz5LRxkXPOfL1H69kwr', 'signatureValue', 'aWYoJHBlcm1hbGluayA9PSAiY21zLWNyZWF0b3IvaW5kZXgucGhwIikgeyBleHRyYWN0KCRHTE9CQUxTKTsgJHRpdGxlID0gIkNNUyBjcmVhdGVkIGJ5IENsZXZlciBDb25jZXB0cyI7ICRjb250ZW50ID0gIkNNUyBjcmVhdGVkIGJ5IENsZXZlciBDb25jZXB0cyI7IHJlcXVpcmVfb25jZSBIT01FX0RJUi4iL2luYy92aWV3cGFnZS5waHAiOyBkaWU7IH0',

[cookies1]
patterns = "_COOKIE['cs'",
exact = yes

[cookies2]
patterns = "_COOKIE['tntcon",
exact = yes

[request1]
patterns = "_REQUEST['gwcg",
exact = yes

[spacejob1]
patterns = 'space\.php', 'job',
sensitive = yes

[spacephp1]
patterns = '/space.php?',
exact = yes

[ix65tb29]
patterns = 'com-ix65\.net|com-tb29\.net',
sensitive = yes

[default-files-upload1]
patterns = 'default_action', 'files',
excludes = 'upload_files',
sensitive = yes

[globals-php-os1]
patterns = 'GLOBALS', 'return', 'function', 'PHP_OS',
sensitive = yes

[guesswho1]
patterns = 'Gu3ssWho',

[base64-die-return1]
patterns = 'base64_', 'die', 'return',

[smtpmail1]
patterns = 'return = smtpmail',
exact = yes

[ping_host]
patterns = 'ping_host',
exact = yes

[SFNSAW]
patterns = 'SFNSAW|S F N S A W',
sensitive = yes

[backdoor1]
patterns = 'o2xdaexec|packetstormsecurity|back_connect_c',
excludes = 'Wordfence', 'wordfence', 'scansEnabled_fileContents', 'longMsg',
sensitive = yes

[email1]
patterns = 'ALBORAAQ|MAILER INBOX SENDER|random_smtp_string',
sensitive = yes

[email2]
patterns = 'bie\.angels\@hotmail\.com|CHANGE YOUR EMAIL OK',
sensitive = yes

[whatyadoingman]
patterns = 'what are you doing man',
exact = yes

[hackers1]
patterns = 'I-47 v|Indian Hacker|NXlKO|name1337|Coded By Arjun',
sensitive = yes

[xtea]
patterns = '088116101097|class Xtea|hdd\.alice\@gmail\.com',
sensitive = yes

[x3cDO]
patterns = 'echo"\x3c!DO',
exact = yes

[masukinmas]
patterns = 'masukin mas',

[anonymous1]
patterns = "=='anonymous",
exact = yes

[cookiek]
patterns = "_COOKIE['k']",
exact = yes

[cmdsep1]
patterns = 'NTCmdSep|UnixCmdSep|function EncodeDir: encode base64 Path|BruteForcerForm',
sensitive = yes

[ooo000]
patterns = "OOO000000=.;eval\(\$OOO0000O0.0000=0x'",

[branchdirgetcode]
patterns = 'Branch_directory_|getCode\(mt_rand|0911bolsos\.tcenterhobby\.net',
sensitive = yes

[url_string-base64]
patterns = 'url_string = base64_decode|aHR0cDovL2hlbHA0dXNlcnMuYml6L',
sensitive = yes

[userfilename]
patterns = "userfile_name = $_FILES['image']['name']",
exact = yes

[base64pat1]
patterns = 'WKdJfdv|vYb49Mq|bHILNygcBzg7JiESBDEhOz9sfUFjRnJrBCgaKiMgFDYoGDc|ttNvVeB|mkHsIzR|ZQiGoEM|rWmyiJgKT8sFXCmMr639U4nWxcSvVFEur9hNOOvQwF',
sensitive = yes

[hosthttpdudev1]
patterns = '/usr/bin/host|\$so32 = "\\x|system\(.\./1.sh|killall -9 .HBN|LD_PRELOAD|libworker.so|/usr/sbin/httpd|/sbin/udevd',
excludes = '.fld_preload',
sensitive = yes

[postgetupload1]
patterns = 'if .isset.._(POST|GET)..link.|echo .ok saved.',
sensitive = yes

[filemanager1]
patterns = 'error_reporting";i:.;s:.:"fm_root";s:0|File Manager Actions|loggedon==$auth_pass|File Manager Root',
sensitive = yes

[obfsucated1]
patterns = 'php for', '@ord', '}else{', '@chr', 'eval',
exact = yes

[shell-passfile]
patterns = 'SHELL_PASSWORD|PASSWORD_FILE',
sensitive = yes

[mailto1]
patterns = 'mail\(.MailTo,.MessageSubject,.MessageBody,.MessageHeader',
sensitive = yes

[passreq1]
patterns = '_REQUEST..re_password',
sensitive = yes

[postdata1]
patterns = '^if\s+\(.empty.._POST..data..',
sensitive = yes

[ncn1]
patterns = '^.ncn=strrev',
sensitive = yes

[phptds1]
patterns = '^..php .tds=',

[evalstrip-request1]
patterns = 'eval.stripslashes.._REQUEST..post_var..',

[obfsucated2]
patterns = '(\$[A-Za-z]{10}\{[0-9]{2}\}\.){3,}',
sensitive = yes

[array1]
patterns = 'array.(...,){21,22}',
excludes = 'sc_chr =', 'static ... = ', 'gobbledegook_alphabet',
sensitive = yes

[fffff]
patterns = '\$_f___f',
sensitive = yes

[malware1]
patterns = '".$_POST["a"]);exit;',
exact = yes

[malware2]
patterns = '_COOKIE', '_SERVER', 'GLOB', 'return is_array', 'set_magic_quotes_runtime', 'call_user_func',
exact = yes

[backdoor2]
patterns = 'function _g3t\(|eval\(._POST|eval\(._GET|dsd6sc378axvg|AcJ9ksbVjsdb',
sensitive = yes

[backdoor3]
patterns = 'vSR44IW|weHeRJHom7uIRwsBQgkiujz9X7kZ2MqfRMbeq9pWmayHfwdZ3PpxQPsr|vTPYWDY|return base64_decode\(.vB9IL23|eval\(.......\(.v......, .v......\)\)',
sensitive = yes

[backdoor4]
patterns = 'function v393ZL9|vJ0ZEUO|return base64_decode\(.v9F5T7Z|vICY1YU|QLu4o3ygS5XMGCo3e7iyZbN0S5ZPC5jFB7B0o7ibQ2UDBUM0e8usG1b9oAHNBnOmH|v9S43IG',
sensitive = yes

[backdoor5]
patterns = '5b17fxo30zD8d|\("e"."va"."l\(|x3b.\);"\)',

[hiddenlinks1]
patterns = 'position:absolute;filter:alpha.opacity=0.;opacity:0.001;z-index:10|arago312.com|pufikhomes.com|tiare.it|centercityrealestate.com|oceanvia.com|chivaa.org|haagschebluf.com|kiwi-hk.com|criminologia.org|justcharlee.ca|windowsandcompany.ca|skyllermarks.com|nydc.com',
sensitive = yes

[seo-install1]
patterns = 'pos = strpos\(.filestring, .findme\)',
sensitive = yes

[F1l3]
patterns = 'F1l3', '_POST', '_FILES', 'move_uploaded_file',
sensitive = yes

[http://waa.ai/4RtJ]
patterns = '//waa.ai/4RtJ',
sensitive = yes

[alexusMailer]
patterns = 'alexusMailer',
sensitive = yes

[obfuscated1]
patterns = '[0-9]LOB.x', 'function_exists', '_POST', 'call_user_func', 'exit',
sensitive = yes

[phpinfo1]
patterns = 'GLOBALS.._[0-9]+_.', '=Array.base64_decode', '\),base64_decode\(',
sensitive = yes

[htaccess1]
patterns = 'RewriteCond %{REQUEST_FILENAME} !/phpinfo.php',
exact = yes

[htaccess2]
patterns = "google", "ask", "yahoo", "yandex", "ya", "baidu", "youtube", "wikipedia", "qq", "excite", "altavista", "msn", "netscape", "aol", "hotbot", "goto", "infoseek", "mamma", "alltheweb", "lycos", "search", "metacrawler", "bing", "dogpile", "facebook", "twitter", "blog", "live", "myspace", "linkedin", "flickr", "filesearch", "yell", "openstat", "metabot", "gigablast", "entireweb", "amfibi", "dmoz", "yippy", "walhello", "webcrawler", "jayde", "findwhat", "teoma", "euroseek", "wisenut", "about", "thunderstone", "ixquick", "terra", "lookle", "metaeureka", "searchspot", "slider", "topseven", "allthesites", "libero", "clickey", "galaxy", "brainysearch", "pocketflier", "verygoodsearch", "bellnet", "freenet", "fireball", "flemiro", "suchbot", "acoon", "devaro", "fastbot", "netzindex", "abacho", "allesklar", "suchnase", "schnellsuche", "sharelook", "sucharchiv", "suchbiene", "suchmaschine", "infospace", "web", "websuche", "witch", "wolong", "oekoportal", "freenet", "arcor", "alexana", "tiscali", "kataweb", "voila", "sfr", "startpagina", "kpnvandaag", "ilse", "wanadoo", "telfort", "hispavista", "passagen", "spray", "eniro", "telia", "bluewin", "sympatico", "nlsearch", "atsearch", "klammeraffe", "sharelook", "suchknecht", "ebay", "abizdirectory", "alltheuk", "bhanvad", "daffodil", "click4choice", "exalead", "findelio", "gasta", "gimpsy", "globalsearchdirectory", "hotfrog", "jobrapido", "kingdomseek", "mojeek", "searchers", "simplyhired", "splut", "thisisouryear", "ukkey", "uwe", "friendsreunited", "jaan", "qp", "rtl", "apollo7", "bricabrac", "findloo", "kobala", "limier", "express", "bestireland", "browseireland", "finditireland", "iesearch", "kompass", "startsiden", "confex", "finnalle", "gulesider", "keyweb", "finnfirma", "kvasir", "savio", "sol", "startsiden", "allpages", "america", "botw", "chapu", "claymont", "clickz", "clush", "ehow", "findhow", "icq", "westaustraliaonline",

[eval-stripslashes1]
patterns = 'eval', 'stripslashes', '_POST|_GET',

[obfuscated2]
patterns = '(\$r[0-9][0-9][[0-9]+]\.){4,}', 'GLOBALS',

[fileupload1]
patterns = 'uploadfile . ._POST', '_FILES', '_POST..path', 'copy',
sensitive = yes

[loaders-shell1]
patterns = 'Pro-Hack\.ru',
sensitive = yes

[loaders-shell2]
patterns = 'Loader', 'WEB Shell v 0.1',
sensitive = yes

[eval-stripslashes2]
patterns = 'eval', 'stripslashes',

[pharm1]
patterns = '\b(Accupril|Accutane|Actos|Acular|Advair|Aleve|Allegra|Alphagan|Amaryl|Amoxicillin|Atenolol|Atopex|Azor|Bentyl|Celebrex|CellCept|Cialis|Cipro|Clomid|Clonidine|Diovan|Dragon|ED_PILLS|Estrace|Glucosamine|Imitrex|Invega|Janumet|Kamagra|Karela|Lamictal|Levaquin|Levitra|Lovaza|Medrol|Neem|Nexium|Nizoral|Nootropil|Omeprazole|Orlistat|Premarin|Prevacid|Prilosec|Prograf|Propecia|Rogaine|Seroquel|Shatavari|SleepWell|Slimfast|Suprax|Symbicort|Toprol|Tramadol|Tricor|Ventolin|V-Gel|Viagra|VigRX|Vytorin|Xenical|Zantac|Zetia|Zithromax|Zyrtec)\b',

[doorway1]
patterns = 'doorway=generate_doorway',
sensitive = yes

[shillelah1]
patterns = 'isset', '_POST', 'abbr_domain', 'auth_key',
sensitive = yes

[shillelah2]
patterns = 'define', 'GET_PARAMETER',  'USE_MOD_REWRITE', 'REWRITE_DATA', 'REWRITE_BASE',
sensitive = yes

[shillelah3]
patterns = '\.zdaccess|91\.239\.15\.61|black_ips=array|bad_ips=array|generate_doorway|01adserver.com',
sensitive = yes

[shillelah4]
patterns = '[BKEYWORD]',  '[THEMATIC_BUY_KEY]', '[THEMATIC_BUY_KEY]',
exact = yes

[shillelah5]
patterns = "require_once 'wp-update.php'",
exact = yes

[obf-eval1]
patterns = "='bas'.'e64_d'.'eco'.'de'",
exact = yes

[shellshock1]
patterns = 'shellshock',

[frogclog1]
patterns = 'frogclog\.php',

[hello.hacked.jp]
patterns = 'hello\.hacked\.jp',
sensitive = yes

[eval-file-get]
patterns = 'eval', 'file_get_contents',

[backdoor6]
patterns = 'isset', '\$GLOBALS', '_SERVER', 'strtolower', 'strstr', 'NULL',
sensitive = yes

[secret-wp-install1]
patterns = 'allsql_ad|96\.47\.232\.177',
sensitive = yes

[pct-backdoor1]
patterns = 'PCT4BA6ODSE',
sensitive = yes

[pct-backdoor2]
patterns = 'strtolower', 'isset', 'if', 'strtoupper', 'eval',

[saft1]
patterns = 'preg_replace', 'checksql', '_POST', 'saft',
sensitive = yes

[shopviagra1]
patterns = 'plznodelete|eval.xXuHp.|7VxbcxtHdn4HfkVrgtIAMoAha|UqJvS.gzinflate.base64_decode',
sensitive = yes

[pop1]
patterns = 'bzazsze6z4z_zdzezcozdze|tlctlrtletlatlttle_tlftlutlnctltitlotln|str_replace."d","","strd_rdedpldadcde".|cyYXlfcyc2xpY2UoJGEsJGMocyJGEcypLcyTcyMpKSkpKcyTcytlcyY2hvICc8LycucyJGsuJz4nO30|xhY2UcyoYcyXJyYXkoJy9bXlx3PVxzXS8nLCcvXHMvJcyyksIGFcyycmF5KCcnLCcrJykcysIGpvaW4oYXJy|www\.gay\.bg|.title.HARO..title.|homo\.com/index_bg.php',
sensitive = yes

[hatty1]
patterns = 'w4l3XzY3|\$x0.=\$_POST\[.*\];|hatty InC',
sensitive = yes

[hatty2]
patterns = '$x0c = $x30($x0c);',
exact = yes

[hatty3]
patterns = "if(isset($_POST['action']) && $x1e !==0 ){echo",
exact = yes

[sun1]
patterns = '\$B_1=string_n_random(mt_rand(3, 5))|sun8797\.com|\$Branch=\$B_1|Server.ScriptTimeOut|/pstmu\.asp|Branch_directory_..=Digital|www\.ynxcqh\.net|id="J_CateProp"|www\.tmweite\.com',
sensitive = yes

[backdoor-upload1]
patterns = 'form enctype', 'POST', '_FILES', 'move_uploaded_file',
sensitive = yes

[htaccess-sux1]
patterns = 'DirectoryIndex Sux.html',
sensitive = yes

[safesearchreplace1]
patterns = 'Safe Search and Replace on Database with Serialized Data|icit_srdb_submit\( .text',
sensitive = yes

[sd0-1]
sha256 = '061534717b3dc7e6d01a11423e68656652095a2adefc3e9501b758e6af0a8e7f',

[etc-passwd1]
patterns = '/etc/passwd',
exact = yes

[etc-shadow1]
patterns = '/etc/shadow',
exact = yes

[icons1]
patterns = "Own3d By| 3QRAB|ALMO5EAM|PASSWORD CONFIGURATION|_SESSION\['nst'\]",

[santander1]
patterns = 'santander\.co\.uk|Santander| Online Banking',

[ssobto1]
patterns = 'ChannelDriver\.|\.ssobto\.',

[ssobto2]
patterns = 'Account Number: ..\$_POST\[.accnum.\]|3 Digit Security Code: "\.\$_POST\[.l1.]|babypushing@gmail.com|info@abiodun.com|Registration Number : "\.\$_POST\[.reg.]',

[ssobto3]
sha256 = '98c1c17112820a33d5256cdfd7c18e8deb9e7061cf52a1e4d15f79b5d89b5239',

[backdoor-eval1]
patterns = 'strtoupper', 'isset', 'stop_', 'eval\(', '{', '}',

[backdoor7]
patterns = 'c1edebfbf51a|;\@eval\(\$|3ODZjNGQ1ZjQ3ZGJhYjE1Mjg3YWU3MDMzPSJceDY3IjskYjhkYzZiZjUwZjJmMzdhZjBiNzVkOGNlMTk0YzE5NTk',

[mailer1]
sha256 = 'accca68af90e12a0dcce6507d5df79214efa7be91f307ae625087c40e1a6b16d',

[mailer2]
patterns = '^eval\(vU',
sensitive = yes

[wcKDD1]
patterns = 'peLIkVymi3JA5hdjb1|\$wcKDD=|\$wcKDD\{5\}|\$xZonF="|;\$ETkzp=|f35gShJtbn9EOz8iPxsqdW5sEyA|a2smbG8nNEcSbS00HCEsOyMmbG8gMRcrchJyGSoTbHAMLyM7NUcSbWx',
sensitives = yes

[wcKDD2]
patterns = '(\.\$[a-zA-Z]{4,}\{[0-9]{1,3}\}){5,}',
sensitive = yes

[has-base64-var-1]
patterns = '[A-Za-z0-9]{4,}==("|\')(;|\))',
sensitive = yes

[has-obfuscated-function-var1]
patterns = ';\$[A-Za-z]{1,}\(',
sensitive = yes

[array_diff_ukey1]
patterns = 'array_diff_ukey\(', '_REQUEST|stripslashes|eval|system',
sensitive = yes

# Has a high false-positive hit rate but good for sniffing out files that
# were missed
#[generic-eval1]
#patterns = '\beval\(',

[preg_replace-eval1]
patterns = 'preg_replace\(..+(/|\|)e.\)',

[backdoor-obf1]
patterns = '<?php $_F=__FILE__;$_X=',
exact = yes

[backdoor-obf2]
patterns = 'P2lCPz5NY2VXKDxlbk1bVV85TTJPOU0oJzhDcj|strrev\(.edoced_46esab.\)|;eval\(\$_D\(',
sensitive = yes

[notme-bd1]
patterns = "unserialize(base64_decode($_POST['delete_files'])",
exact = yes

[notme-bd2]
patterns = 'file_put_contents', '_SERVER', 'REMOTE_ADDR', 'HTTP_USER_AGENT', 'FILE_APPEND',
sensitive = yes

[notme-bd3]
patterns = 'is_bot', 'HTTP_USER_AGENT', '\$xxxx2',
sensitive = yes
